@import 'reset_new.scss'; 
@import 'fonts.scss';

// Variables============================================================

// colors
$black: #232536;
$yellow: #FFD050;
$gray-dark: #4C4C4C;
$gray-medium: #6D6E76;
$purple: #592EA9;
$light: #FFFFFF;
$light-yellow: #FBF6EA;
$light-grey: #F4F4F4;
$lavender: #F4F0F8;

// Fonts

$sen:'Sen', sans-serif;
$inter:'Inter', sans-serif;

// GLOBAL STYLES======================================================

body{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

// text-styles
h1,h2,h3,h4,h5,h6{
	font-family: 'Sen' ,sans-serif;
	font-weight: 700;
}

h1{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: clamp(32px, 3.3vw, 48px);
	line-height: clamp(40px, 4.4vw, 64px);
	letter-spacing: -2px;
}
h2{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: clamp(24px, 2.5vw, 36px);
	line-height: clamp(32px, 3.3vw, 48px);
	letter-spacing: -2px;
}
h3{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: clamp(19px, 2vw, 28px);
	line-height: clamp(27px, 3vw, 40px);
	letter-spacing: -1px;
}
h4{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: clamp(16px,1.6vw, 24px);
	line-height: clamp(21px, 2.2vw, 32px);
}
h5{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: clamp(15px, 1.4vw, 20px);
	line-height: clamp(21px, 2.2vw, 32px);
}
h6{
	font-family: $sen;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
// разметка
.wrapper{

}

.container{
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.button{
	font-family: $sen;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background-color: $yellow;
	padding: 16px 48px;
	a{
		color: $black;
	}
}

.par{
	color: $gray-medium;
}
.cap-one{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $black;
}
// HEADER ===============================================================

.header{
	background-color: $black;
	min-height: 80px;
	width: 100%;
	transition: all 1s ease;
	&__block{
		width: 100%;
		height: 80px;
		display: none;
	}
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
		transition: all 1s ease;
	}
	&__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item{
		&:not(:last-child){
			padding-right: clamp(10px ,2vw, 24px);
		}
	}
	&__link{
		color: #fff;
		text-decoration: none;
	}
	&__button{
		background-color: #fff;
		transition: all 0.3s ease;
		&:hover{
			background-color: rgba(255, 255, 255, 0.8);
		}
	}
	&__burger-button{
		display: none;
	}
}

@media (max-width: 1300px) {
	.header{
		&__container{
			justify-content: space-around;
		}
	}
}
@media (max-width: 745px) {
	.header{
		&__burger-button{
			display: block;
			height: 25px;
			width: 35px;
			position: relative;
			transition: all 0.3s ease;
			&:hover{
				cursor: pointer
			}
			span{
				position: absolute;
				width: 100%;
				transition: all 0.3s ease;
				height: 2px;
				top: 50%;
				left: 0;
				background-color: #fff;
			}
			&::before, &::after{
				content: '';
				width: 100%;
				height: 2px;
				display: block;
				background-color: #fff;
				position: absolute;
				transition: all 0.3s ease;
			}
			&::before{
				top: 0;
				left: 0;
			}
			&::after{
				bottom: 0;
				left: 0;
			}
			&._active{
				animation: rotate 10s infinite  linear;
				span{
					
					
				}
				&::before{
					transform: rotate(90deg);
					top: 50%;
					// height: 3px;
					
				}
				&::after{
					transform: scale(0);
				}
			}
		}
		&__list{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			font-size: 32px;
			background-color: $black;
			transition: 0.3s ease;
			gap: 0;
			top: 80px;
			position: fixed;
			width: 100%;
			height: 400px;
			left: -100%;
		}
		&__button{
			padding: 16px 144px;
		}
		&__logo{
			// position: absolute;
			// left: 55px;
			// top: 25px;
		}
		&__container{
			justify-content: space-between;
			padding: 0 40px;
		}
		&._active{
			.header__block{
				display: block;
				z-index: 1;
			}
			.header__list{
				left: 0;
				z-index: 10;
			}
			.header__container{
				position: fixed;
				z-index: 10;
				background-color: $black;
				width: 100%;
			}

		}
	}
	@keyframes rotate {
		0%{
			transform: rotate(0turn);
		}
		100%{
			transform: rotate(1turn);
		}
	}
}
// MAIN ====================================================
.main{
	background: url('../src/main-bg.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 720px;
	position: relative;
	color: #fff;
	&__overlay{
		width: 100%;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		min-height: 720px;
		background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%) 
	}
	&__text{
		max-width: 804px;
		z-index: 2;
		position: relative;
		padding-top: 128px;
	}
	&__container{

	}
	&__display{
		font-size: clamp(37px, 3.88vw, 56px);
		line-height: clamp(42px, 4.4vw, 64px);
		padding-bottom: 24px;
	}
	&__posted{
		text-transform: uppercase;
		font-weight: 500;
		padding-bottom: 24px;
		span{
			font-weight: 600;
		}
	}
	&__author{
		padding-bottom: 24px;
		span{
			color: $yellow;
		}
	}
	&__par{
		padding-bottom: 24px;
	}
}
@media (max-width: 1365px) {
	.main{
		&__container{
			padding: 0 35px
		}
	}
	
}
// POST ============================================================================
.post{
	margin-top: 128px;
	&__titles{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&__featured{
		max-width: 50%;
		border: 1px solid rgba(109, 110, 118, 0.1);
		padding: 32px;
	}
	&__image{
		max-width: 100%;
		height: auto;
		padding-bottom: 16px;

	}
	&__par{
		padding-bottom: 16px;
	}
	&__author{
		padding-bottom: 16px;
		color: $gray-dark;
	}
	&__title-2{
		text-align: center;
		padding-bottom: 32px;
	}
	&__title-3{
		padding-bottom: 16px;
	}
	&__body{
		display: flex;
		justify-content: space-around;
	}
	&__all{
		max-width: 520px;
		text-align: center;
		padding: 32px;
		position: relative;
		span{
			color: $purple;
		}
	}
	&__link{
		position: absolute;
		right: 10px;
		top: 5%;
	}
	&__item{
		padding: 32px;
		text-align: left;
	}
}

@media (max-width: 970px) {
	.post{
		&__body{
			flex-direction: column;
			align-items: center
		}
		&__container{
			
		}
		&__featured{
			max-width: 100%;
			padding: 24px;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		&__par{
			padding: 24px 45px;
		}
	}
}

// ABOUT =======================================================>
.about{
	&__title{
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: $black;
		padding-bottom: 36px;
	}
	&__h2{
		padding-bottom: 16px;
	}
	&__par{
		padding-bottom: 16px;
	}
	&__container{
		background-color: $lavender;
		display: flex;
		padding: 100px;
		justify-content: space-between;
		transition: all 3s ease;
	}
	&__about-us{
		max-width: 45%;
	}
	&__our-mision{
		max-width: 45%;
	}
}
@media (max-width: 670px) {
	.about{
		&__container{
			flex-direction: column;
			align-items: center
		}
		&__about-us{
			max-width: 100%;
		}
		&__our-mision{
			max-width: 100%;
		}
	}
}

// WHY WE STARTED =========================================================>
.why-started{
	&__container{
		position: relative;
	}
	&__image{
		object-fit: contain;
		width: 100%;
		&-container{
			width: 100%;
		}
	}
	&__text{
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 80px;
		max-width: 700px;
		background-color: #fff;
	}
	&__title{
		padding-bottom: 24px;
	}
	&__h1{
		padding-bottom: 16px;
	}
	&__par{
		padding-bottom: 36px;
	}
}
@media (max-width: 738px) {
	.why-started{
		&__image-container{
			display: none
		}
		&__image{
			display: none;
		}
		&__text{
			position: initial;
		}
	}
}